<p>holaaaaaaaaaaaaaaaaaaaaaaaa</p>
<div class="filter-users-container">
    <h2>Buscar estudiante por codigo</h2>
    <div class="filter-form">
      <input 
        pInputText
        type="text"
        placeholder="Ingresa el codigo del usuario"
        [(ngModel)]="codigo"
      />
      <button 
        pButton 
        type="button"
        label="Buscar"
        (click)="searchUserById()"
        [disabled]="isLoading"
      ></button>
    </div>
  
    <!-- Mensaje de error -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  
    <!-- Tabla de resultados -->
    <p-table
      *ngIf="estudiante.length"
      [value]="estudiante"
      [paginator]="true"
      [rows]="5"
      [responsiveLayout]="'scroll'"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>codigo</th>
          <th>Nombre</th>
          <th>cedula</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.cedula }}</td>
          <td>
            <button 
              pButton 
              type="button" 
              label="Editar" 
              class="p-button-sm p-button-warning">
            </button>
            <button 
              pButton 
              type="button" 
              label="Eliminar" 
              class="p-button-sm p-button-danger">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <!-- Mensaje cuando no hay resultados -->
    <p *ngIf="!estudiante.length && !errorMessage" class="no-results">
      No se encontraron usuarios.
    </p>
</div>
  