<form [formGroup]="registroForm">
    <p-card header="Registro de estudiante" [style]="{width:'360px'}">
      <div class="p-field">
        <label for="username">Nombre estudiante</label>
        <input id="username" type="text" pInputText formControlName="username" />
        <div *ngIf="registroForm.controls['username'].invalid && registroForm.controls['username'].touched" class="error">
          Usuario no válido
        </div>
      </div>
      <div class="p-field">
        <label for="cedula">Cédula del estudiante</label>
        <input id="cedula" type="text" pInputText formControlName="cedula"/>
        <div *ngIf="registroForm.controls['cedula'].invalid && registroForm.controls['cedula'].touched" class="error">
          Cédula no válida (Sólo números)
        </div>
      </div>
      <div class="p-field">
        <label for="codigo">Código del estudiante</label>
        <input id="codigo" type="text" pInputText formControlName="codigo"/>
        <div *ngIf="registroForm.controls['codigo'].invalid && registroForm.controls['codigo'].touched" class="error">
          Código no válido (Sólo números)
        </div>
      </div>
      <button pButton type="submit" label="Registrar" [disabled]="registroForm.invalid" (click)="realizar_registro()"></button>
    </p-card>
  </form>
  