/* lucho  */ 
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

html,
body{
    height: 100%;
    margin:0;
}
.edit-form {
    margin-top: 20px;
  }
  
  .edit-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .edit-form input {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .edit-form button {
    margin-right: 10px;
  }
