<div class="filter-users-container">
    <h2>Buscar estudiante por código</h2>
    <div class="filter-form">
      <input 
        pInputText 
        type="text" 
        placeholder="Ingresa el código del estudiante"
        
      />
      <button 
        pButton 
        type="button" 
        label="Buscar" 
        (click)="loadUsersbyName()" 
        [disabled]="username.valueOf() == ''"
      ></button>
    </div>
<p-table [value]="users"[paginator]="true"[rows]="5"[responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
        <tr>
            <th>codigo</th>
            <th>Usuario</th>
            <th>cedula</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.codigo}}</td>
            <td>{{user.username}}</td>
            <td>{{user.cedula}}</td>
        </tr>
    </ng-template>
</p-table>
</div>